version: '3.7'

services:

  campaign_generator:
    container_name: campaign_generator
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/app'
      - '/app/node_modules'
    ports:
      - '4201:4200'
