<nav class="navbar navbar-expand-md navbar-dark bg-primary" role="navigation">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="CampaignGenerator logo">
    CampaignGenerator
  </a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Liang-Hsuan/CampaignGenerator">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
