<form [formGroup]="mainForm">
  Gender:
  <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="gender">
    <label ngbButtonLabel class="btn-light">
      <input ngbButton type="radio" value="male">Male
    </label>
    <label ngbButtonLabel class="btn-light">
      <input ngbButton type="radio" value="female">Female
    </label>
    <label ngbButtonLabel class="btn-light">
      <input ngbButton type="radio" value="neutral">Neutral
    </label>
  </div>
  <div class="form-inline mt-2">
    <span class="mr-1">Min age:</span>
    <input type="text" class="form-control mr-2" appDigitOnly maxlength="3" placeholder="Min" formControlName="age_min" />
    <span class="mr-1">Max age:</span>
    <input type="text" class="form-control" appDigitOnly maxlength="3" placeholder="Max" formControlName="age_max" />
  </div>
  <div class="mt-2">
    Countries:
    <ng-multiselect-dropdown
      name="country"
      placeholder="Select Countries"
      [data]="countries"
      formControlName="country"
      [settings]="countrySettings"
      (onSelect)="onCountrySelect($event)">
    </ng-multiselect-dropdown>
  </div>
</form>