<form [formGroup]="campaignForm" (ngSubmit)="save()">
  <div>
    <input type="text" class="form-control name" placeholder="Campaign's name" aria-label="Campaign's name" aria-describedby="button-addon2" formControlName="name" required>
  </div>
  <div class="mt-2">
    <quill-editor
      [styles]="{'min-height': '300px'}"
      format="object"
      formControlName="content">
    </quill-editor>
  </div>
  <div class="mt-2">
    <button type="submit" class="btn btn-primary mr-1 save" [disabled]="campaignForm.invalid || saving">
      <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="saving"></fa-icon>
      <span *ngIf="!saving">Save</span>
    </button>
    <button type="button" class="btn btn-secondary back" (click)="back()">Discard</button>
  </div>
</form>
