@use "sass:string";

::ng-deep .ql-snow {
  .ql-tooltip {
    &[data-mode=image]::before {
      content: "Image link:";
    }

    &[data-mode=color]::before {
      content: "Color value:";
    }
  }

  .ql-color, .ql-background {
    .ql-picker-options [data-value=custom-color] {
      background: none !important;
      width: 100% !important;
      height: 20px !important;
      text-align: center;
    }

    .ql-picker-options {
      [data-value=custom-color]:before {
        content: 'Custom Color';
      }

      [data-value=custom-color]:hover {
        border-color: transparent !important;
      }
    }
  }

  .ql-picker {
    &.ql-size {
      width: 60px;

      .ql-picker-label::before, .ql-picker-item::before {
        content: attr(data-value);
        font-size: attr(data-value)
      }
    }

    &.ql-spacing {
      width: 50px;

      .ql-picker-label::before, .ql-picker-item::before {
        content: attr(data-value);
      }
    }
  }
}
