<div class="modal-header">
  <h4 class="modal-title" id="modal-title" *ngIf="title">{{title}}</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p class="modal-question"><strong>{{question}}</strong></p>
  <p class="modal-note">{{note}}
    <span class="text-danger" *ngIf="irreversible">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary cancel" (click)="modal.dismiss(false)">Cancel</button>
  <button type="button" class="btn btn-danger confirm" (click)="modal.close(true)">Yes</button>
</div>