<form [formGroup]="campaignForm" (ngSubmit)="save()">
  <div>
    <input type="text" class="form-control name" placeholder="Campaign's name" aria-label="Campaign's name" aria-describedby="button-addon2" formControlName="name" required>
  </div>
  <div class="mt-2">
    <app-quill [styles]="{'min-height': '300px'}" formControlName="content"></app-quill>
  </div>
  <div class="mt-2">
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Schedule">
        <ng-template ngbPanelContent>
          <app-schedule-picker formControlName="schedule"></app-schedule-picker>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Demographic">
        <ng-template ngbPanelContent>
          <app-demographics formControlName="demographic"></app-demographics>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
   <div class="mt-2">
    <ngb-alert [type]="'danger'" *ngIf="showError" (close)="showError = false">{{errorMessage}}</ngb-alert>
  </div>
  <div class="mt-2">
    <button type="submit" class="btn btn-primary mr-1 save" [disabled]="campaignForm.invalid || saving">
      <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="saving"></fa-icon>
      <span *ngIf="!saving">Save</span>
    </button>
    <button type="button" class="btn btn-secondary back" (click)="back()">Cancel</button>
  </div>
</form>
