<div class="row">
  <input type="text" class="form-control" [(ngModel)]="name" placeholder="Campaign's name" aria-label="Campaign's name" aria-describedby="button-addon2" required>
</div>
<div class="row mt-2">
  <quill-editor
    [styles]="{height: '300px'}"
    format="object"
    [(ngModel)]="content">
  </quill-editor>
</div>
<div class="row mt-2">
  <button type="button" class="btn btn-primary mr-1" (click)="save()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="back()">Discard</button>
</div>
